<!doctype html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="/static/style.css">
  <title>{% block title %}SMARTIFY{% endblock %}</title>
  <style type="text/css">
    .related-artist {
      /*display: inline-block;*/
      border: 1px solid red;
    }
  </style>

</head>
<body id="grad">
  <div>
    <p class="header">URSHOWS</p>
     <!-- FIXME: do something here to make sure it has logo/stuff across the top of the app -->

  </div>

  <div class="container">
    <h1>
    </h1>
    {% for msg in get_flashed_messages() %}
      <div class="alert alert-info">{{ msg }}</div>
    {% endfor %}

    {% block content %}CONTENT HERE{% endblock %}
  </div>

  <footer>C Amanda Cameron</footer>
  <!-- FIXME: do something here to make sure it has logo/stuff across the bottom of the app -->

</body>
</html>