{% extends 'base.html' %}

{% block content %}


  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}


<h1>Your user ID is: {{ session['user_info']['user_id'] }}</h1>
<h1>{{ session['user_info']['user_display_name'] }}</h1>
<!-- <h1>{{ session }}</h1> -->
<h1>{{ items }}</h1>
<h1>You have this many followers: {{ session['user_info']['user_followers'] }}</h1>
<img src="{{ session['user_info']['user_pic_url'] }}" alt="Profile Picture">


<form action="/search-events" method="GET">
  <h2>Here are your recent top artists</h2>
  
  {% for artist in artists_info %}
  <div>
    <p class = "artists"> {{ artist['name'] }}</p>

    <img src="{{ artist['images'][0]['url'] }}" class="main-artist" data-artist-id="{{artist['id']}}">
    <br>

    <br>
    <input type="checkbox" name="search-events-artists"
                       value="{{ artist['name'] }}"/>
    <label>I want to see these events!</label>
  </div>
  {% endfor %}
  
  <div class="form-group">
    <label for="event-loc">Zipcode</label>
    <input id="event-loc" class="form-control" type="text" name="zipcode" required>
  </div>

  <input id="zipcode-submit" type="submit" value="Search Events!" class="btn">

</form>

  <script src="static/listeners.js"></script>

{% endblock %}