{% extends 'base.html' %}

{% block content %}


  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}


<h1>Your user ID is: {{ session['user_info']['user_id'] }}</h1>
<h1>{{ session['user_info']['user_display_name'] }}</h1>
<!-- <h1>{{ session }}</h1> -->
<h1>{{ items }}</h1>
<h1>You have this many followers: {{ session['user_info']['user_followers'] }}</h1>
<img src="{{ session['user_info']['user_pic_url'] }}" alt="Profile Picture">


<form action="/search-top-artist-events" method="GET">
<h2>Here are your top artists</h2>
 {% for value in artists_info.items() %}
 <input type="hidden" class="id" name="{{value['id']}}" value="{{value['id']}}">
 <input type="hidden" class="name" name="{{key}}" value="{{key}}">
 <input type="hidden" class="art_url" name="{{value['art_url']}}" value="{{value['art_url']}}">
 <input type="hidden" class="related_artists" name="{{value['related_artist_info']}}" value="{{value['related_artist_info']}}">

<p> {{ key }}</p>
<img src="{{ value['art_url'] }}">

<br>
    {% endfor %}
     <div class="form-group">
      <label for="event-loc">Zipcode</label>
      <input id="event-loc" class="form-control" type="text" name="zipcode" required>
    </div>
<!--   <div class="dropdown">
      <label>Distance in miles</label>
      <select name="distance">
        {% for n in range(0,101,5) %}
        <option value="{{n}}">{{n}}</option>
            {% endfor %}
    </div>
 -->


<!--  NEED SUBMIT BUTTON
    NEED ZIPCODE
    DROPDOWN FOR HOW FAR YOU'RE WILLING TO TRAVEL --> 

<input type="submit" value="Search Events!" class="btn">
</form>

<body>


</body>


{% endblock %}