{% extends 'base.html' %}

{% block content %}

<div>


<form id="form-artists" action="/search-events" method="GET">
  <div class="row">
    <div class="col-10">
      <p class="sub-name">Here are your top artists from Spotify - click on a photo to explore related artists</p>
    </div>
    <div class="col-2"><label class="sub-name" for="event-loc">Zipcode</label>
      <input id="event-loc" class="form-control" type="text" name="zipcode" required max="5" pattern="[0-9]{5}">
      <input id="zipcode-submit" type="submit" value="SEARCH EVENTS" class="sub-small">
    </div>
  </div>
  


{% for artist in artists_info %}
<div class="row">
  <div class="col-4">
    <p style="padding-top:10px" class = "artists"> {{ artist['name'] }}</p>
    <img src="{{ artist['images'][0]['url'] }}" class="main-artists-clickable" data-artist-id="{{artist['id']}}">
    <br>
    <input class="checkbox" type="checkbox" name="search-events-artists" value="{{ artist['id'] }}" checked/>
      <input type="hidden" class="{{artist['id']}}" name="{{artist['id']}}_artist_name" value="{{artist['name']}}">

      <input type="hidden" class="{{artist['id']}}" name="{{artist['id']}}_artist_art_url" value="{{artist['images'][0]['url']}}">
  </div>
  <div class="col-8"></div>
  </div>
  {% endfor %}

</form>
</div>

  <script src="static/listeners.js"></script>

{% endblock %}