<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="/static/style.css">
  <!-- TODO: put icon here -->
  <link rel="icon" class="fas fa-glasses">
  <title>{% block title %}ShowSpotter{% endblock %}</title>
<div class="container">

<nav class="navbar navbar-expand-lg" style="background-color:none">
  <!-- TODO: put icon here -->
  <p class="navbar-brand" style="color:white"><i class="fas fa-glasses"></i></i>ShowSpotter</p>
</nav>

</head>
<body >
  <div>
    <p class="header">Think outside the headphones</p>

  </div>


</div>


</body>
<footer>
  <div class="container">
    <div class="row-10">
        <h1>Logout Successful</h1>
        <h1>Enjoy the show!</h1>
    </div>

    <div class="row" align=center>

        <div class="col">
            <i class="fas fa-certificate"></i><p class="footer">Careers<br>Join our team of creative and compassionate concert-goers</p>
        </div>
        <div class="col">
        <i class="far fa-smile"></i><p class="footer">Contact Us<br>100 Santa Maria Dr. San Francisco, CA 94560 contact@showstopper.com</p>
        </div>
        <div class="col">
            <i class="fab fa-spotify"></i><p class="footer">Cheers<br>Special thanks to Eventbrite and Spotify for processing API requests</p>
        </div>
    </div>
    <div class="row" style="text-align:center">
      <i class="far fa-copyright"></i><p class="footer">Amanda Cameron 2018</p>
    </div>
</div>  
</footer>  
</html>