{% extends 'base.html' %}

{% block content %}

<h2>Here are the artists you want to search for</h2>
 {% for artist in artists %}
<h2>{{ artist }}<h2>
<br>
    {% endfor %}

<h1>Your zipcode is : {{ zipcode }}</h1>
<h1>Here are the shows within {{ distance }}!</h1>
<h1>SHOWS FOR YOU</h1>
<h1>{{ shows }}</h1>
<h1></h1>
{% if shows %}
        <form action="/account/shows" method="GET">
    {% for id, info in shows.items() %}
        {{ show }}
        <ul>
            <h2>{{ info['name'] }}</h2>
            <li><p>When: {{ info['start'].strftime("%A, %B %d, %Y at %I:%M%p")  }}</p></li>
            <div>
            <input type="hidden" class="{{id}}" name="{{id}}_eventbrite_event_id" value="{{info['event_id']}}">

            <input type="hidden" class="{{id}}" name="{{id}}_event_name" value="{{info['name']}}">

            <input type="hidden" class="{{id}}" name="{{id}}_venue_id" value="{{info['venue_id']}}">

            <input type="hidden" class="{{id}}" name="{{id}}_eventbrite_url" value="{{info['url']}}">

            <input type="hidden" class="{{id}}" name="{{id}}_logo_url" value="{{info['logo']['url']}}">

            <input type="hidden" class="{{id}}" name="{{id}}_start" value="{{info['start']}}">

            <input type="hidden" class="{{id}}" name="{{id}}_end" value="{{info['end']}}">

            <input type="hidden" class="{{id}}" name="{{id}}_artist_id" value="{{info['artist_id']}}">

            <input type="hidden" class="{{id}}" name="{{id}}_artist_name" value="{{info['artist_name']}}">

            <input type="hidden" class="{{id}}" name="{{id}}_artist_art_url" value="{{info['artist_art_url']}}">

            </div>
            <input type="checkbox" name="shows"
                   value="{{ info['event_id'] }}"/>
            <label>I'm going to this event!</label>
            <div>
            <img src="{{ info['logo']['url'] }}">

        </div>
        </ul>
        
    {% endfor %}
    <input type="submit" value="YOU'RE GOING!" class="btn">
    </form>

{% else %}
<h1>You're already going to all available shows near you! Try searching another zipcode :)</h1> 
<form method="get" action="/account/shows">
    <button type="submit">My shows</button>
</form>
{% endif %}

{% endblock %}